# Python
__pycache__/

# PyCharm
.idea/

# Cache varie
.jython_cache/
.DS_Store

# Output and Logs
Output
Logs
High_order_TS_with_scaffold/scaffold

# Other
Notebooks/.ipynb_checkpoints/

# External Libraries
External/
